.campeones-container {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

}

.header-date {
    background: #6e1a1a;
    color: white;
    padding: 12px 25px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-title {
    background: #d32f2f;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px 20px;
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.antecedentes {
    padding: 30px 25px;
    background: #f5f5f5;
    border: 2px solid black;

}

.antecedentes h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #000000;
    font-size: 1.8rem;
}

.antecedentes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.etapa {
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 2px solid black;
}

.etapa h3 {
    color: #000000;
    margin-bottom: 12px;
    border-bottom: 3px solid #d32f2f;
    padding-bottom: 8px;
}

.etapa p{
    text-align: justify;
}

.record-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 25px;
    background: white;
    border: 2px solid black;
}

.record-section h2 {
    color: #000000;
    font-size: 2.1rem;
    line-height: 1.2;
    font-size: 58px;
    text-align: left;
    margin-top: 0px;
}

.record-section p{
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    font-size: 20px;

}

.imagen-campeones {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #ddd;
    border:2px solid black;
}

.bottom-section {
    padding: 30px 25px;
    background: white;
    border: 2px solid black;
}

.trabajo-colaborativo {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    border: 2px solid black;
}

.trabajo-colaborativo .imagen-colaborativo {
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    flex-shrink: 0;
}

.trabajo-colaborativo .texto-colaborativo {
    flex: 1;
}

.trabajo-colaborativo h3 {
    color: #000000;
    font-size: 1.65rem;
    margin-bottom: 12px;
}

.trabajo-colaborativo p{
    text-align: justify;
}


.bottom-section h3 {
    color: #000000;
    font-size: 1.65rem;
    margin-bottom: 15px;
}

.bottom-section p{
    text-align: justify;
}

@media (max-width: 760px) {

    .header-date span{
        font-size: smaller;
    }

    .campeones-container{
        max-width: 90%;
    }

    .etapa{
        padding: 10px;
        margin-right: 5px;
    }

    .record-section{
        display: block;
    }

    .bottom-grid {
        grid-template-columns: 1fr;
    }

    .trabajo-colaborativo {
        flex-direction: column;
    }
    
    .trabajo-colaborativo .imagen-colaborativo {
        width: 100%;
    }
}