#help {

form{
    max-width: 700px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea{
    width: 100%;
    padding: 30px;
    font-size: 22px;
    border-radius: 12px;
    border: 2px solid #ccc;
    font-family: Arial;
    box-sizing: border-box;
}

textarea{
    height: 180px;
    resize: none;
}

    
}