h2 {
    font-size: 60px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

h3 {
    font-size: 40px;
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2::after {
    /*Crea una línea decorativa debajo del título CULTURA.*/
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background: rgb(105, 19, 19);
    margin: auto;
}

h3::after {
    /*Crea una línea decorativa debajo del título CULTURA.*/
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background: rgb(105, 19, 19);
    margin: auto;
}

.ds3 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: 3px solid rgb(105, 19, 19);
    font-size: larger;
    margin-top: 20px;
}

summary {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagen {
    width: 200px;
    border-radius: 15px;
}

details summary img {
    height: auto;
}

@media (max-width: 760px) {
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

}