body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*ENCABEZADO*/
header{
    width: 100%;
    background-color: rgb(105, 19, 19);
    color: white;
    padding: 20px;
}

.logo{
    width: 200px;
    height: 200px;
    padding-right: 20px;
}

h1{
    font-size: 100px;
}

header div{
    display: flex;
    margin:auto;
}

.boton a{
    text-decoration: none;
    background: #221e66;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.boton a:hover{
    background-color: gray;
}

/*MENÚ*/
.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.menu a{
    text-decoration: none;
    background: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul a:hover{
    background-color: gray;
}



/*main*/
/*CONTENIDO*/
/*Configura el área principal de la página*/
.t{
    margin-top: 40px;
    text-align: left;
    margin-left: 225px;
    font-size: 50px;
    font-weight: bold;
}

#index{
    width:90%; /*Ancho de ventana*/
    margin: auto; /*Centra el contenido a los lados*/
    display:flex; /*Coloca las secciones en fila*/
    margin: auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#index img{
    border-radius: 15px;
    
}



/*NOTICIAS*/
.noticias{
    width:60%;
}

.noticias h2{
    text-align:center;
    margin-bottom:20px; /*Deja espacio debajo del título*/
}

/*Organiza las imágenes en forma de cuadrícula*/
.galeria{
    display:grid; /*Activa el sistema Grid*/
    grid-template-columns:repeat(3,150px); /*Crea 3 columnas de 150px cada una*/
    gap:20px; /*Espacio entre imagenes*/
    justify-content:center; /*Centra toda la cuadrícula*/
    margin-top: 10px; /*Espacio de arriba*/
    margin-bottom: 5px; /*Espacio de abajo*/
    margin-right: 25px;
}

.galeria img{
    width:150px;
    height:150px;
    object-fit:cover; /*Ajusta la imágen sin deformes*/
}

.cuadro{
    height:60px;
    background:#2f3745;
    border-radius:5px; /*Bordes redondeados*/
}

/*INFORMACION*/
/*Configura la columna derecha*/
.informacion{
    width:40%;
    padding-left:25px; /*Espacio entre la línea divisora y el contenido*/
    border-left:2px solid #b52f43; /*Crea la línea vertical roja a la izquierda*/
    margin-bottom: -10px;
}

.bloque{
    margin-bottom:30px; /*Espacio debajo del subtítulo*/
}

.bloque h3{
    margin-bottom:10px;
}

.bloque p{
    text-align:center;
    line-height:1.6;
    margin-bottom:10px;
}

.bloque img{
    width:120px;
}

.noticias{
    width:60%;
    padding-right:30px; /*Espacio antes de la línea divisora*/
}

.informacion{
    width:40%;
    padding-left:30px;
    border-left:3px solid #b52f43;
}









/*PIE DE PÁGINA*/
footer{
    width: 100%;
    margin-top: 20px;
    background: rgb(105, 19, 19);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

.nav-section nav{
    display: flex;
    justify-content: center;
}

div nav a{
    padding: 10px 10px;
    font-size: 20px;
}

div nav a:hover{
    color:black;
}

.nav_section nav a{
    color: white;
}

.consulta p{
    color:black;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 5px;
    justify-content: center;
}

.consulta1{
    display:flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 30px;
    align-items: center;
}

.red a{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.red a:hover{
    background-color: gray;
}

.red a i{
    font-size: 20px;
    transition: all .3s ease;
}
.red a i:hover{
    transform: translateY(-2px);
}

.link p{
    margin-top: 0%;
}

.link p a{
    color:white;
    font-size: 20px;
}

.link p a:hover{
    color:black;
}


/*Buscador*/
header section{
    margin-top: 30px;
    margin-bottom: 50px;
}

.search-container {
  position: relative;
  width: 1000px;
  margin-top: -40px;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 1000px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border-bottom: 0;
  border: none;
}

.results-list {
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;

 background: white;
 border: none;
 z-index: 9999;

 list-style: none;
 padding: 0;
 margin: 0;
 text-align: left;
  
}

.results-list li {
  padding: 10px;
  color: black;
  cursor: pointer;
  border-top: 1px solid #ccc;
}

.results-list li:hover {
    background: #eee;
}

.no-results {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   box-sizing: border-box;

   background: white;
   padding: 10px;
   margin-top: 0px;

   text-align: center;
   color: #666;

   border-top: 2px solid #ccc;

   z-index: 9999;
   display: none;
}


/*Botón de ayuda*/
#help form{

    max-width: 700px;

    margin: 40px auto;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

#help input,
#help textarea{
width: 100%;

    padding: 30px;

    font-size: 22px;

    border-radius: 12px;

    border: 2px solid #ccc;

    font-family: Arial;

    box-sizing: border-box;
}

#help textarea{

    height: 180px;

    resize: none;
}

#help button{

    background: rgb(105, 19, 19);

    color: white;

    border: none;

    padding: 18px;

    font-size: 24px;

    border-radius: 12px;

    cursor: pointer;
}

@media (max-width: 760px){

    .buscador{
        width: 200px;
    }

    .encabezado img{
        width: 100px;
        height: 100px;
    }

    h1{
    font-size: 25px;
    }

    .menu{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .menu{
      gap: 15px;
    }

    .menu a{
        font-size: smaller;
        padding: 5px 10px;
    }

    div nav a{
        padding: 10px 5px;
        font-size: 15px;
    }

    .consulta1{
        padding: 15px 0px;
        gap: 10px;
    }

    .link p a{
        display:none;
    }
}